html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
}
hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;

}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #F05F40;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.navbar-default {
  background-color: rgba(255, 255, 255, 0.3);

  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #F05F40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  
  .navbar-default.affix {
    border-color: rgba(34,34,34, 0.05);
    background-color: rgba(33,33,33,0.29);
    
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: white;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }
}

//HEADER...!!!!

header {
  position: relative;
  width: 100%;
  
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/slider_bg12_wyzliq-min_dffuob.jpg');
  text-align: center;
  
  .btn {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px 20px;
    margin: 15px;
    border-radius: 5px;
    margin-top:20px;



  }
  .btn-success {
    color: #fff;
    background-color: transparent;
    border-color: none;
  }


  #btn-1{
    background: #73baae;
    font-size: 16px;


  }

  #btn-1:hover {
    background: #fd3635;
  }
  #btn-2{

    border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    background:transparent;
    border-color: #73baae;

  }
  #btn-2:hover {
    border-color: #ff075a;
  }


  a .typewrite{


  }


  strong{
   font-size: 5vw !important;
 }
 .header-content-inner .typewrite{

   font-family: Roboto, Helvetica, Arial, sans-serif;
   font-size: 36px;
   font-weight: 400;
   font-style: normal;
   letter-spacing: 1px;
   line-height: 1.5;
   text-transform: uppercase;
   color: #cccccc;
 }

}
header .header-content .btn-xl {
  padding: 8px 16px;
  margin: 23px 30px;


}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;

}

header .header-content .header-content-inner h1 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
  color:white;
}

header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

}


//SECCION SERVICE...!!!!

.services h1{
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  margin-top:-69px;

}

.services{

  background-color:#E8F1F1;

  hr {
    border-color: #F05F40;
    border-width: 1px;
    max-width: 164px;
  }

  img{

    text-align:center;
    //border-color: #98d4f5;
    //border-radius: 50%;
    //border-style: solid;
    //border-width: 10px;
    //height: 145px;
   // width: 145px;
   display: table-cell;
   vertical-align: middle;
   overflow: hidden;
   padding:10px;

 }
 
 p{
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  
}
}

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
  padding-right: .9375rem;
  padding-left: .9375rem;

  .btn {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px 20px;
    margin: 15px;
    border-radius: 5px;
    margin-top:20px;
    background-color: #73baae;
    padding: 0.75em 8%;
    width: 84%;


  }
  #btn-1:hover {
    background: #fd3635;
  }
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  color: #747474;
  font-size: 15px;

}
//FINNN SECCION SERVICE


//INICIO SECCION ABOUT-COMPANY

.about-company{

  color: #0a0a0a;
  font-family: 'Open Sans', sans-serif;

  h3 {

    font-size: 35px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem;
  }
  p{
    color: #a2b2bd;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-size:16px;
  }
  hr {

    border-color: #0A0A0A;
    border-width: 3px;
    max-width: 50px;
    text-align: left;
    font-size: 15px;
    margin-left: 0;

  }
  img{
    margin-bottom: 1rem;
  }
  .btn {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #73baae;
    padding: 18px 20px;
    margin: 15px;
    border-radius: 5px;
    margin-top:20px;
    margin-left: 0;
  }
  #btn-1:hover {
    background: #fd3635;
  }
}
//FIN SECCIÓN

//SECCION:LATEST-NEWS
.latest-news{

  margin-top:-50px;
  .container .row {
    margin-left: 1.25rem;
    margin-right: -0.75rem;
  }

  background-color:whitesmoke;
  .texto{
    margin-top:-20px;
  }

  h1{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
  }
  h2{
    color: #747474;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-transform: none;
  }
  hr{
    border-color: #176079;
    background-color: rgb(23, 96, 121);
    border-width: 1px;
    max-width: 171px;
  }


  .caja-text{
    background-color:#F1F5F9;
    ;
    #calipso{
      margin-left: 40%;
      color:black;
    }
    h6{
      //color: $color_rosado;
      font-weight: 800;
      font-size: 80%;
      display:inline-block; 
      padding-left:5px;
      color:#258faf;
    }
  }

  img{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin-top: -40px;
    //border-radius: $border-radius;

  }
  img:hover{
    margin-top: -80px;
  }


  h5{
    //color: $background-fondo;
    font-size: 17.5px;
    font-weight: 400;
    padding-bottom: 3%;
  }   

  div.imaProduct{
    background-color: white;
    //border-radius: $border-radius;
    max-width: 300px;
    margin: 60px 10px 10px;
    display:inline-block;
    margin-left:4%;

    h4{
      color: #3c4858;
      font-weight: 700;
      font-size: 128%;
      padding-left:15px;
    }
    p{
      border-bottom: 1px dashed #ddd;
      padding-bottom: 20px;
      margin-bottom: 15px;
      color: #999;
      font-weight: 400;
      font-size: 90%;
      line-height: 25.2px;
      padding-left:15px;
    }

    a p{
      list-style:none;
      display:inline-block;
      border-bottom: none;

    }
    p.more{
      color: #3c4858;
      padding-bottom: 10%;
      font-weight: 400;
      border-bottom: none;

    }
  }
}
//FIN SECCIÓN



//FIN SECCION

img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}


//AMAZING
.amazing{
  span{
    display:inline-block;
  }
  margin-top:-90px;
  .container .row {
    margin-left: 1.25rem;
    margin-right: -0.75rem;
  }

  background-color:whitesmoke;
  .texto{
    margin-top:-20px;
  }

  h1{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
  }
  h2{
    color: #747474;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-transform: none;
  }
  hr{
    border-color: #176079;
    background-color: rgb(23, 96, 121);
    border-width: 1px;
    max-width: 171px;
  }


  .caja-text{


    #calipso{
      margin-left: 40%;
      color:black;
    }
    h6{
      //color: $color_rosado;
      font-weight: 800;
      font-size: 80%;
      display:inline-block; 
      padding-left:5px;
      color:#258faf;
    }
  }

  img{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin-top: -40px;
    //border-radius: $border-radius;

  }



  h5{
    //color: $background-fondo;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 3%;
  }   

  div.imaProduct{

    //border-radius: $border-radius;
    max-width: 300px;
    margin: 30px 10px 5px;
    display:inline-block;
    margin-left:4%;


    p{
      padding-bottom: 20px;
      margin-bottom: 15px;
      color: #999;
      font-weight: 400;
      font-size: 90%;
      line-height: 25.2px;
      padding-left:15px;
    }
    span{
      color:#000;
      font-size: 1.6em;

    }
    i{

      font-size: 40%;
      padding-left:15px;
      color: #73baae;
    }
    .fa{
      font-size:100%;
    }

  }

}



.talented{
 margin-top:-90px;
 .container .row {
  margin-left: 1.25rem;
  margin-right: -0.75rem;
}
h1{
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

hr{
  border-color: #176079;
  background-color: rgb(23, 96, 121);
  border-width: 1px;
  max-width: 171px;
}

.row .col.l3 {
  width: 20%;
  margin-left: 2%;
  left: auto;
  right: auto;
}
img{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: -40px;


}
.caja-text{
  background-color:#78C1BC;
  margin-top:0;
  padding:10px;
  color:white;
  border-radius: 0px 0px 15px 15px;
}


div.imaProduct{
  background-color: #fff;
  display:inline-block;
  max-width: 260px;
  margin: 60px 30px 10px;

  h6{

    font-weight: 800;
    font-size: 90%;
  }
  h4{
    color: white;
    font-weight: 700;
    font-size: 128%;
  }


} 
}


.get-in-touch{
 background-image: url("../img/features_bg2-min.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-attachment: relative;

 h5{
  color:white;
}
.texto-get{
  color:white;
}
form{
  background-color:#4A6C68;
  padding:20px;
  margin-left: 30%;
  width:100%;
}
i{
  font-size: 4em;
}
}

//FIN SECCIÓN
